:root {
  --primary-color: #e76f51;
  --sec-color: #a53860;
  --text-color: #023047;
  --white-color: #ffffff;
  --child-color: #fefae0;
  --child-border: #faedcd;

  --font-text: 16px;
  --font-title: 45px;
  --font-sub-title: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#header {
}
#header .top_header {
  background: var(--sec-color);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}
#header .top_header p {
  color: var(--white-color);
  margin: 0;
}
#header .header_area img {
  max-width: 180px;
  height: auto;
}
#header .header_area ul#nav {
  text-align: right;
  margin: 0;
  padding-top: 18px;
}
#header .header_area ul#nav li {
  display: inline-block;
  margin-left: 10px;
}
#header .header_area ul#nav a {
  color: var(--text-color);
  font-size: var(--font-text);
  font-weight: bold;
  text-decoration: none;
}
#header .header_area ul#nav a:hover {
  color: var(--primary-color);
}



/* Main Content Style  */
#main-content {
  padding: 60px 0;
}
#main-content .blog_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#main-content .child_post,
#main-content .widget {
  background: var(--child-color);
  border: 1px solid var(--child-border);
  padding: 15px 25px;
  border-radius: 10px;
}
#main-content .child_post h1 {
  margin: 0 0 10px;
}
#main-content .child_post h1 a {
  color: var(--text-color);
  font-size: var(--font-sub-title);
  text-decoration: none;
}
#main-content .child_post h1 a:hover {
  color: var(--sec-color);
}
#main-content .widget {
  margin-bottom: 20px;
}
#main-content .widget .wp-block-search__label,
#main-content .widget .wp-block-heading {
  color: var(--text-color);
  font-size: var(--font-sub-title);
  text-decoration: none;
  font-weight: bold;
}


/* Footer Style  */
#footer {
  background: var(--sec-color);
  padding: 30px 0;
  color: var(--white-color);
  text-align: center;
}
#footer p {
  margin: 0;
}